<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="mainStyles.css">

    <meta charset="UTF-8">
</head>
<body>

<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row footer-row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mt-3 footer-image">

                <!-- Content -->
<!--                <h5 class="text-uppercase">Hospitality Scheduler</h5>-->
                <a class="footer-image" href="/"><img src="https://i.ya-webdesign.com/images/schedule-icon-png-6.png" width="45%" id="logo" ></a>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h3 class="text-uppercase">Links</h3>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.optaplanner.org/">OptaPlanner.org</a>
                    </li>
                    <li>
                        <a href="https://github.com/jbo168/optaplanner-roster-employee-shift-assignment"> Application Source Code</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-right py-3 mr-3">© 2020 Copyright:
        <a href="https://github.com/jbo168/SchedulerDemo">John Long</a>
    </div>
    <!-- Copyright -->

</footer>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>