<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="mainStyles.css">

    <meta charset="UTF-8">
    <title>Holiday Request</title>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">

        <div th:replace="fragments/header :: header"></div>
        <div th:replace="fragments/adminPageTitle :: adminPageTitle ('Holiday Request')"></div>

        <br><br>

        <div class="container" id="main">
            <form v-on:submit.prevent="postShiftChangeRequest">
                <div class="card mb-auto">
                    <div class="card-header">Employee Holiday Request Form</div>
                    <div class="card card-body" id="employeeForm">
                        <div class="form-group row">
                            <label for="employeeName" class="col-sm-4 col-form-label">Employee Name</label>
                            <input id="employeeName" class="form-control col-sm-8" placeholder="Employee Name" type="text"
                                   v-model="employee_name"/>
                        </div>
                        <div class="form-group row">
                            <label for="dateFrom" class="col-sm-4 col-form-label">Date From</label>
                            <input id="dateFrom" class="form-control col-sm-8" placeholder="Date To" type="text"
                                   v-model="date_from"/>
                        </div>
                        <div class="form-group row">
                            <label for="dateTo" class="col-sm-4 col-form-label">Date to</label>
                            <input id="dateTo" class="form-control col-sm-8" placeholder="Date To" type="text"
                                   v-model="date_to"/>
                        </div>
                        <div class="form-group row">
                            <div class="col col-sm-4"></div>
                            <input class="btn btn-primary col col-sm-8" type="submit" value="Submit Request">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>


<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>-->

<script src="webjars/vue/vue.min.js"></script>
<script src="webjars/axios/dist/axios.min.js"></script>


<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                employee_name: null,
                date_from: null,
                date_to: null
            }
        },
        mounted() {

        },
        methods: {

        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>