<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="mainStyles.css">

    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="page-container">
    <div id="content-wrap">

        <div th:replace="fragments/header :: header"></div>
        <div th:replace="fragments/adminPageTitle :: adminPageTitle ('Weekly Roster')"></div>

        <br><br>

        <div class="container" id="main">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Employee</th>
                    <th v-for="day in daysOfWeek">{{ day }}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="employee in employees">
                    <td>{{ employee.employeeName }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>

<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                employees: null,
                daysOfWeek: null
            }
        },
        mounted() {
            this.getEmployees();
            this.getDaysOfWeek();
        },
        methods: {
            getEmployees: function () {
                axios
                    .get("/api/employees")
                    .then(response => (this.employees = response.data))
            },
            getDaysOfWeek: function () {
                axios
                    .get("/api/daysOfWeek")
                    .then(response => (this.daysOfWeek = response.data))
            },
        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>