<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="mainStyles.css">

    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="page-container">
    <div id="content-wrap">

        <div th:replace="fragments/header :: header"></div>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div th:replace="fragments/adminPageTitle :: adminPageTitle ('Weekly Roster')"></div>
            </div>
            <div class="col-md-2 generate-schedule-btn">
                <button class="btn btn-primary" v-on:click="postToSolver()">Generate Roster</button>
<!--                <p>The button above has been clicked {{ counter }} times.</p>-->
            </div>
        </div>

        <br><br>

        <div class="container" id="main">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Employee</th>
                    <th v-for="day in daysOfWeek">{{ day }}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="employee in employees">
                    <td>{{ employee.name }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>



<script src="webjars/vue/vue.min.js"></script>
<script src="webjars/axios/dist/axios.min.js"></script>


<script>
    var app = new Vue({
        el: '#page-container',
        data() {
            return {
                employees: null,
                shifts: null,
                postScheduleBody: '',
                solvedScheduleBody: '',
                counter: 0,
                daysOfWeek: null
            }
        },
        mounted() {
            this.getEmployees();
            this.getDaysOfWeek();
        },
        methods: {
            getEmployees: function () {
                axios
                    .get("/api/employees")
                    .then(response => (this.employees = response.data))
            },
            getAllShifts: function() {
                axios
                    .get("/api/shifts")
                    .then(response => (this.shifts = response.data))
            },
            postToSolver: function() {
                axios.post('/api/solve', {
                    "shifts":[
                        {
                            "sid":0,
                            "startTime":"09:00",
                            "endTime":"18:00",
                            "requiredSkillLevel": 12
                        },
                        {
                            "sid":1,
                            "startTime":"12:00",
                            "endTime":"20:00",
                            "requiredSkillLevel": 10
                        },
                        {
                            "sid":2,
                            "startTime":"18:00",
                            "endTime":"00:00",
                            "requiredSkillLevel": 10
                        },
                        {
                            "sid": 3,
                            "startTime":"09:00",
                            "endTime":"18:00",
                            "requiredSkillLevel": 12
                        },
                        {
                            "sid":4,
                            "startTime":"12:00",
                            "endTime":"20:00",
                            "requiredSkillLevel": 10
                        },
                        {
                            "sid":5,
                            "startTime":"18:00",
                            "endTime":"00:00",
                            "requiredSkillLevel":10
                        },
                        {
                            "sid":6,
                            "startTime":"09:00",
                            "endTime":"18:00",
                            "requiredSkillLevel": 12
                        },
                        {
                            "sid":7,
                            "startTime":"12:00",
                            "endTime":"20:00",
                            "requiredSkillLevel": 10
                        },
                        {
                            "sid":8,
                            "startTime":"18:00",
                            "endTime":"00:00",
                            "requiredSkillLevel":10
                        },
                        {
                            "sid":9,
                            "startTime":"09:00",
                            "endTime":"18:00",
                            "requiredSkillLevel": 12
                        },
                        {
                            "sid":10,
                            "startTime":"12:00",
                            "endTime":"20:00",
                            "requiredSkillLevel": 10
                        },
                        {
                            "sid":11,
                            "startTime":"18:00",
                            "endTime":"00:00",
                            "requiredSkillLevel":10
                        },
                        {
                            "sid":12,
                            "startTime":"09:00",
                            "endTime":"18:00",
                            "requiredSkillLevel": 12
                        },
                        {
                            "sid":13,
                            "startTime":"12:00",
                            "endTime":"20:00",
                            "requiredSkillLevel": 10
                        },
                        {
                            "sid":14,
                            "startTime":"18:00",
                            "endTime":"00:00",
                            "requiredSkillLevel":10
                        }
                    ],
                    "employees":[
                        {
                            "eid":0,
                            "name":"john",
                            "skillLevel": 10,
                            "employeeType": "FULL_TIME"
                        },
                        {
                            "eid":1,
                            "name":"elaine",
                            "skillLevel": 2,
                            "employeeType": "FULL_TIME"

                        },
                        {
                            "eid":2,
                            "name":"kieran",
                            "skillLevel": 11,
                            "employeeType": "FULL_TIME"
                        },
                        {
                            "eid":3,
                            "name":"maeve",
                            "skillLevel": 10,
                            "employeeType": "FULL_TIME"
                        },
                        {
                            "eid":4,
                            "name":"steve",
                            "skillLevel": 9,
                            "employeeType": "FULL_TIME"
                        },
                        {
                            "eid":5,
                            "name":"aisling",
                            "skillLevel": 9,
                            "employeeType": "FULL_TIME"
                        },
                        {
                            "eid":6,
                            "name":"james",
                            "skillLevel": 15,
                            "employeeType": "FULL_TIME"
                        },
                        {
                            "eid":7,
                            "name":"aine",
                            "skillLevel": 12,
                            "employeeType": "FULL_TIME"
                        },
                        {
                            "eid":8,
                            "name":"saoirse",
                            "skillLevel": 11,
                            "employeeType": "FULL_TIME"
                        },
                        {
                            "eid":9,
                            "name":"mark",
                            "skillLevel": 16,
                            "employeeType": "PART_TIME"
                        },
                        {
                            "eid":10,
                            "name":"luke",
                            "skillLevel": 15,
                            "employeeType": "PART_TIME"
                        },
                        {
                            "eid":11,
                            "name":"jason",
                            "skillLevel": 10,
                            "employeeType": "FULL_TIME"
                        },
                        {
                            "eid":12,
                            "name":"tommy",
                            "skillLevel": 15,
                            "employeeType": "FULL_TIME"
                        },
                        {
                            "eid":13,
                            "name":"amy",
                            "skillLevel": 11,
                            "employeeType": "FULL_TIME"
                        }
                    ]
                })
                    .then((response) => {
                        console.log(response);
                    }, (error) => {
                        console.log(error);
                    });

            },
            testFunction: function(event){
                const jsonObj = {
                    members:
                        {
                            host: "hostName",
                            viewers:
                                {
                                    user1: "value1",
                                    user2: "value2",
                                    user3: "value3"
                                }
                        }
                };

                let i;

                for(i=4; i<=8; i++){
                    const newUser = "user" + i;
                    const newValue = "value" + i;
                    jsonObj.members.viewers[newUser] = newValue ;

                }

                console.log(jsonObj);
            },
            generateScheduleSolverBody: function() {
                let e, s = "";

                this.postScheduleBody = {
                    "shifts": [
                        {
                        }
                    ],
                    "employees": [
                        {
                        }
                    ]
                }

                console.log(this.postScheduleBody);
                return this.postScheduleBody;
            },
            solveSchedule: function() {
              axios
                .post("/api/solve")
                .then(response => (this.solvedScheduleBody = response.data()))
            },
            getDaysOfWeek: function () {
                axios
                    .get("/api/daysOfWeek")
                    .then(response => (this.daysOfWeek = response.data))
            },
        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>