<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="mainStyles.css">

    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="page-container">
    <div id="content-wrap">

        <div th:replace="fragments/header :: header"></div>

        <br><br>

        <div class="container" id="main">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-4 jumbo-image">
                        <img src="https://i.ya-webdesign.com/images/schedule-icon-png-6.png" size="50%" id="logo"  alt="logo">
                    </div>
                    <div class="col-md-6">
                        <h1 class="display-4">Welcome to the Hospitality Scheduler</h1>
                        <p class="lead">Use this application to generate weekly schedules and manage staff</p>
                        <hr class="my-4">
                        <p>Click the button below to start creating a schedule and the navigation bar on top for administration</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="/roster" role="button">Start Scheduling</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>



<script src="webjars/vue/vue.min.js"></script>
<script src="webjars/axios/dist/axios.min.js"></script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>