<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="mainStyles.css">

    <meta charset="UTF-8">
    <title>Roster</title>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">

        <div th:replace="fragments/header :: header"></div>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div th:replace="fragments/adminPageTitle :: adminPageTitle ('Weekly Roster')"></div>
            </div>
            <div class="col-md-2 generate-schedule-btn">
                <button class="btn btn-primary" v-on:click="postToSolver()">Generate Roster</button>
            </div>
            <div class="col-md-2 generate-schedule-btn">
                <button class="btn btn-success" v-on:click="insertSolvedDataToTable()">Populate Schedule</button>
            </div>
        </div>

        <br><br>

        <div class="container" id="main">
            <form v-on:submit.prevent="getRosterForDept">
                <div class="card mb-auto">
                    <div aria-controls="deptSelectionForm" aria-expanded="false" class="card-header"
                         data-target="#deptSelectionForm"
                         data-toggle="collapse" style="cursor: pointer">
                        <div class="float-left">Show Roster For Department</div>
                        <div class="float-right">+</div>
                    </div>
                    <div class="card card-body collapse" id="deptSelectionForm">
                        <div class="form-group row">
                            <label for="associatedDepartment" class="col col-sm-4">Associated Department</label>
                            <select class="col-sm-8" id="associatedDepartment"
                                    placeholder="Associated Department" v-model="selected_department">
                                <option disabled value="">Please select a Department</option>
                                <option v-on:click="" :selected="department.departmentName === selected_department"
                                        v-bind:value="department.departmentName" v-for="department in departments">
                                    {{ department.departmentName }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <div class="col col-sm-4"></div>
                            <input class="btn btn-primary col col-sm-8" type="submit" value="Show">
                        </div>
                    </div>
                </div>
            </form>

            <br>

            <table contenteditable class="table" id="rosterTable">
                <thead class="thead-dark">
                <tr>
                    <th>EMPLOYEE</th>
                    <th v-for="day in daysOfWeek">{{ day }}</th>
                </tr>
                </thead>
                <tbody id="schedule-body">
                
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>



<script src="webjars/vue/vue.min.js"></script>
<script src="webjars/axios/dist/axios.min.js"></script>


<script>
    var app = new Vue({
        el: '#page-container',
        components: {
        },
        data() {
            return {
                employees: null,
                shifts: null,
                departments: null,
                selected_department: null,
                associated_department: null,
                postScheduleBody: '',
                solvedScheduleBody: '',
                counter: 0,
                daysOfWeek: null
            }
        },
        mounted() {
            this.getDaysOfWeek();
            this.getAllEmployees();
            this.getAllShifts();
            this.getAllDepartments();
        },
        methods: {
            getAllEmployees: function () {
                axios
                    .get("/api/employees")
                    .then(response => (this.employees = response.data))
            },
            getAllShifts: function() {
                axios
                    .get("/api/shifts")
                    .then(response => (this.shifts = response.data))
            },
            getAllDepartments: function() {
                axios
                    .get("/api/departments")
                    .then(response => (this.departments = response.data))
            },
            solvingBody: function () {
                let employees = this.employees;
                let shifts = this.shifts;

                let solverObj = {
                    employees,
                    shifts
                };

                console.log(solverObj);
                return solverObj;
            },
            postToSolver: function() {
                axios.post('/api/solve', this.solvingBody())
                    .then((response) => {
                        this.solvedScheduleBody = response.data;
                    }, (error) => {
                        console.log(error);
                    });

            },
            insertSolvedDataToTable: function (data) {
                let tbody = document.getElementById('schedule-body');
                let schData = this.solvedScheduleBody;

                /*  these for loops traverse the schedule table
                    adding shifts where an employee and day match the solved response
                 */
                for (let e = 0; e < this.employees.length; e++) {
                    console.log(this.employees[e]);
                    let row = document.createElement("tr");
                    let eCell = document.createElement("td");
                    let eCellText = document.createTextNode(this.employees[e].employeeName);
                    eCell.appendChild(eCellText);
                    row.appendChild(eCell);
                    for (let d = 0; d < this.daysOfWeek.length; d++) {
                        console.log(this.daysOfWeek[d]);
                        for (let s = 0; s < schData.shifts.length; s++) {
                            if (schData.shifts[s].day === this.daysOfWeek[d] && schData.shifts[s]["employee"].employeeName === this.employees[e].employeeName) {
                                let data = schData.shifts[s].startTime + "-" + schData.shifts[s].endTime;
                                let cell = document.createElement("td");
                                let cellText = document.createTextNode(data);
                                cell.appendChild(cellText);
                                row.appendChild(cell);
                            }
                        }
                    }
                    tbody.appendChild(row);
                }
            },
            getRosterForDept: function (event) {
                this.getEmployeesForDept(this.selected_department);
                this.getShiftsForDept(this.selected_department);
            },
            getEmployeesForDept: function (dept){
                axios
                    .post("/api/employees/" + dept)
                    .then(response => (this.employees = response.data))
            },
            getShiftsForDept: function (dept) {
                axios
                    .get("/api/shifts/" + dept)
                    .then(response => (this.shifts = response.data))
            },
            getDaysOfWeek: function () {
                axios
                    .get("/api/daysOfWeek")
                    .then(response => (this.daysOfWeek = response.data))
            },
        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>