<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="mainStyles.css">

    <meta charset="UTF-8">
    <title>Shift Change</title>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">

        <div th:replace="fragments/header :: header"></div>
        <div th:replace="fragments/adminPageTitle :: adminPageTitle ('Shift Change Request')"></div>

        <br><br>

        <div class="container" id="main">

            <form v-on:submit.prevent="postShiftChangeRequest">
                <div class="card mb-auto">
                   <div class="card-header">Employee Shift Change Request Form</div>
                    <div class="card card-body" id="employeeForm">
                        <div class="form-group row">
                            <label for="employeeName" class="col-sm-4 col-form-label">Employee Name</label>
                            <input id="employeeName" class="form-control col-sm-8" placeholder="Employee Name" type="text"
                                   v-model="employee_name"/>
                        </div>
                        <div class="form-group row">
                            <label for="currentShiftStartTime" class="col-sm-4 col-form-label">Current Shift Start Time</label>
                            <input id="currentShiftStartTime" class="form-control col-sm-8" placeholder="Current Shift Start Time" type="text"
                                   v-model="current_shift_start_time"/>
                        </div>
                        <div class="form-group row">
                            <label for="currentShiftEndTime" class="col-sm-4 col-form-label">Current Shift End Time</label>
                            <input id="currentShiftEndTime" class="form-control col-sm-8" placeholder="Current Shift End Time" type="text"
                                   v-model="current_shift_end_time"/>
                        </div>
                        <div class="form-group row">
                            <label for="currentShiftDay" class="col-sm-4 col-form-label">Current Shift Day</label>
                            <select class="form-control col-sm-8" id="currentShiftDay" placeholder="Current Shift Day" v-model="current_shift_day">
                                <option disabled value="">Please select a Day</option>
                                <option  v-for="days in daysOfWeek">
                                    {{ days }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="shiftChangeStartTime" class="col-sm-4 col-form-label">Shift Change Start Time</label>
                            <input id="shiftChangeStartTime" class="form-control col-sm-8" placeholder="Shift Change Start Time" type="text"
                                   v-model="shift_change_start_time"/>
                        </div>
                        <div class="form-group row">
                            <label for="shiftChangeEndTime" class="col-sm-4 col-form-label">Shift Change End Time</label>
                            <input id="shiftChangeEndTime" class="form-control col-sm-8" placeholder="Shift Change End Time" type="text"
                                   v-model="shift_change_end_time"/>
                        </div>
                        <div class="form-group row">
                            <div class="col col-sm-4"></div>
                            <input class="btn btn-primary col col-sm-8" type="submit" value="Submit Request">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>


<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>-->

<script src="webjars/vue/vue.min.js"></script>
<script src="webjars/axios/dist/axios.min.js"></script>


<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                daysOfWeek: null,
                employee_name: null,
                current_shift_start_time: null,
                current_shift_end_time: null,
                current_shift_day: null,
                shift_change_start_time: null,
                shift_change_end_time: null,
            }
        },
        mounted() {
            this.getDaysOfWeek();
        },
        methods: {
            getDaysOfWeek: function(){
                axios
                    .get("/api/daysOfWeek")
                    .then(response => (this.daysOfWeek = response.data));
            },
            postShiftChangeRequest: function (event) {
                axios
                    .post("/api/shiftChangeRequest", {
                        "employeeName": this.employee_name,
                        "currentShiftStartTime": this.current_shift_start_time,
                        "currentShiftEndTime": this.current_shift_end_time,
                        "currentShiftDay": this.current_shift_day,
                        "shiftChangeStartTime": this.shift_change_start_time,
                        "shiftChangeEndTime": this.shift_change_end_time,
                        "approval": false
                    })
            }
        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>