<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="mainStyles.css">

    <meta charset="UTF-8">
    <title>Shift Swap Approval</title>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">

        <div th:replace="fragments/header :: header"></div>
        <div th:replace="fragments/adminPageTitle :: adminPageTitle ('Shift Swap Approval')"></div>

        <br><br>

        <div class="container" id="main">

            <table class="table table-striped table-bordered">
                <thead class="thead-admin">
                <tr>
                    <th>Employee Name</th>
                    <th>Current Shift Start Time</th>
                    <th>Current Shift End Time</th>
                    <th>Current Shift Day</th>
                    <th>Employee Swap Name</th>
                    <th>Shift To Swap Start Time</th>
                    <th>Shift To Swap End Time</th>
                    <th>Shift Swap Day</th>
                    <th>Approval</th>
                    <th colspan="2" class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="request in shiftSwaps">
                    <td>{{ request.employeeRequestName }}</td>
                    <td>{{ request.currentShiftStartTime }}</td>
                    <td>{{ request.currentShiftEndTime }}</td>
                    <td>{{ request.currentShiftDay }}</td>
                    <td>{{ request.employeeSwapName }}</td>
                    <td>{{ request.shiftToSwapStartTime }}</td>
                    <td>{{ request.shiftToSwapEndTime }}</td>
                    <td>{{ request.shiftSwapDay }}</td>
                    <td>{{ request.swapApproved }}</td>
                    <td>
                        <button class="btn btn-info" v-on:click="approveSwapRequest(request)">Approve</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" v-on:click="rejectSwapRequest(request)">Reject</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>


<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>-->

<script src="webjars/vue/vue.min.js"></script>
<script src="webjars/axios/dist/axios.min.js"></script>


<script>
    var app = new Vue({
        el: '#main',
        data(){
            return {
                shiftSwaps: null
            }
        },
        mounted() {
            this.getShiftSwaps();
        },
        methods: {
            getShiftSwaps: function () {
                axios
                    .get("/api/shiftSwaps")
                    .then(response => (this.shiftSwaps = response.data))
            },
            approveSwapRequest: function (request) {
                axios
                    .post("/api/shiftSwapRequest/" + request.shiftSwapId + "/" + true)
                    .then(response => {this.getShiftSwaps();})
            },
            rejectSwapRequest: function (request) {
                axios
                    .post("/api/shiftSwapRequest/" + request.shiftSwapId + "/" + false)
                    .then(response => {this.getShiftSwaps();})
            }
        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>